# ======================
# Visual Studio
# ======================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ======================
# Build results
# ======================
bin/
obj/
[Dd]ebug/
[Rr]elease/

# ======================
# Database
# ======================
*.db
*.db-shm
*.db-wal

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/
.env

# ======================
# Logs / cache
# ======================
*.log
*.cache
